.carousel-inner img {
    width: 100%;
    height: 100%;
}

.section1 , section2, section3 {
    padding-top:50px;
    padding-bottom: 50px;

    color: #fff; 
    border-color: #000000;
    background-color: #555555;
    border-style: solid;
    border-width: medium;
}
.section1 {
    background-color: #555555;
}
.section2{
    background-color: #556699
}

.section-in {
    color: #000; 
}
body {
    position: relative; 
  }

.cropped {
    width: 100px; /* width of container */
    height: 300px; /* height of container */

}
.imagesCarousel{
    width: 100%;
    height: 500px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#quote-container {
  margin-top: 20px;
}